<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}"
      th:object="${userForm}" method="POST">
    User name:
    <input type="text" th:field="*{name}" />
    <br/>
    Password:
    <input type="password" th:field="*{password}" />
    <br/>
    email:
    <input type="text" th:field="*{email}" />
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>

<!--&lt;!&ndash; Check if errorMessage is not null and not empty &ndash;&gt;-->

<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
     <!--style="color:red;font-style:italic;">-->
    <!--...-->
<!--</div>-->
</body>
</html>